<h2>
@if (showOnlyFavorites) { Favorite Books } 
@else { Book List }
</h2>

@if (filteredBooks.length > 0) {
<table class="table table-hover">
    <thead>
        @for (header of headers; track header.key) {
            <th>
                {{ header.label }}
                <button 
                    class="btn btn-sm text-secondary"
                    (click)="sortBooks(header.key)">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                </button>
            </th>
        }
    </thead>
    <tbody>
        @for (book of filteredBooks; track book.id) {
            <tr>
                <td>{{ book.id }}</td>
                <td><button
                    class="btn p-0 m-0"
                    (click)="toggleIsFavorite(book)">
                    @if (book.isFavorite) {
                    <i class="text-warning fa-solid fa-star"></i>
                    }
                    @else {
                    <i class="text-warning fa-regular fa-star"></i>
                    }
                </button></td>
                <td>
                    <a routerLink="/detail/{{book.id}}" class="link-underline link-underline-opacity-0">
                        {{ book.title }}</a>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.pages }}</td>
                <td><button 
                    class="btn btn-outline-danger btn-sm" title="delete book"
                    type="button" (click)="confirmDelete(book)">
                    <i class="fa-solid fa-trash"></i>                    
                </button></td>
            </tr>
        }
    </tbody>
</table>
}
@else {
    <p>
    @if (showOnlyFavorites) { No favorite books yet! } 
    @else { No books yet! }
    </p>
}
